<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.healingchurch.story.services.common.code.CodeMapper">
    <select id="findCodeList" parameterType="net.healingchurch.story.domain.Code" resultType="net.healingchurch.story.domain.Code">
        /*  CodeMapper.findCodeList  */
        select * from ch_common_code
        order by sort_idx, code_id
        <if test="page!=null and page!=''">LIMIT #{offset}, #{limit}</if>
    </select>

    <select id="findCodeChildList" parameterType="String"
            resultType="net.healingchurch.story.domain.Code">
        /*  CodeMapper.findCodeChildList  */
        select * from ch_common_code
        where parent_code_id = #{parentCodeId}
        order by sort_idx, code_id
    </select>

    <select id="getCode" resultType="net.healingchurch.story.domain.Code" parameterType="String">
        /*  CodeMapper.getCode  */
        select * from ch_common_code
        where code_id = #{codeId}
    </select>

    <insert id="createCode" parameterType="net.healingchurch.story.domain.Code"
            useGeneratedKeys="true" keyProperty="codeId">
        /*  CodeMapper.createCode  */
        insert into ch_common_code (code_id, parent_code_id, code_name, description, sort_idx)
        VALUES
        (
            #{codeId},
            #{parentCodeId},
            #{codeName},
            #{description},
            #{sortIdx}
        )
    </insert>

    <update id="updateCode" parameterType="net.healingchurch.story.domain.Code"
            useGeneratedKeys="true" keyProperty="codeId">
        /*  CodeMapper.updateCode  */
        update ch_common_code
        set
        <if test="codeName!='' and codeName!=null">code_name = #{codeName} </if>
        <if test="parentCodeId!='' and parentCodeId!=null">, parent_code_id = #{parentCodeId}</if>
        <if test="description!='' and description!=null">, description = #{description} </if>
        <if test="sortIdx!='' and sortIdx!=null">, sort_idx = #{sortIdx} </if>
        where code_id = #{codeId}
    </update>

    <delete id="removeCode" parameterType="string">
        /*  CodeMapper.removeCode  */
        delete from ch_common_code
        where code_id = #{value}
    </delete>
</mapper>
