<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.healingchurch.story.services.event.EventMapper">
    <select id="findEventList" parameterType="net.healingchurch.story.domain.Event" resultType="net.healingchurch.story.domain.Event">
        /*  EventMapper.findEventList  */
        select * from ch_event
        <where>
            <if test="groupId!=null and groupId!=''">group_id=#{groupId}</if>
            <if test="fromDate!=null and fromDate!=''">
                and CAST(event_date AS CHARACTER)<![CDATA[ >= ]]> CONCAT( #{fromDate}, ' 00:00:00')
            </if>
            <if test="toDate!=null and toDate!=''">
                and CAST(event_date AS CHARACTER)<![CDATA[ <= ]]> CONCAT( #{toDate}, ' 23:59:59')
            </if>
        </where>
        <if test="page!=null and page!=''">LIMIT #{offset}, #{limit}</if>
    </select>

    <select id="getEvent" resultType="net.healingchurch.story.domain.Event" parameterType="int">
        /*  EventMapper.getEvent  */
        select * from ch_event
        where event_id = #{value}
    </select>

    <insert id="createEvent" parameterType="net.healingchurch.story.domain.Event"
            useGeneratedKeys="true" keyProperty="eventId">
        /*  EventMapper.createEvent  */
        insert into ch_event (group_id, event_content, writer, event_date)
        VALUES
        (
            #{groupId},
            #{eventContent},
            #{writer},
            #{eventDate}
        )
    </insert>

    <update id="updateEvent" parameterType="net.healingchurch.story.domain.Event"
            useGeneratedKeys="true" keyProperty="eventId">
        /*  EventMapper.updateEvent  */
        update ch_event
        set
        <if test="eventContent!='' and eventContent!=null">event_content = #{eventContent}</if>
        <if test="groupId!='' and groupId!=null">, group_id = #{groupId}</if>
        <if test="writer!='' and writer!=null">, writer = #{writer} </if>
        <if test="eventDate!='' and eventDate!=null">, event_date = #{eventDate} </if>
        where event_id = #{eventId}
    </update>

    <delete id="removeEvent" parameterType="int">
        /*  EventMapper.removeEvent  */
        delete from ch_event
        where event_id = #{value}
    </delete>
</mapper>
