<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.healingchurch.story.services.story.pasture.PastureStoryMapper">
    <select id="findStoryList" parameterType="net.healingchurch.story.domain.PastureStory" resultType="net.healingchurch.story.domain.PastureStory">
        /*  PastureStoryMapper.findStoryList  */
        select
        A.story_id
        ,A.user_id
        ,A.group_id
        ,FN_DATE_FORMAT(A.input_date) as input_date
        ,A.worship_yn
        ,A.leader_yn
        ,A.pasture_meet_yn
        ,A.bible_count
        ,A.qt_count
        ,A.friday_worship_yn
        ,A.dawn_pray_count
        ,A.etc
        ,FN_DATE_FORMAT(A.create_date) as create_date
        ,FN_DATE_FORMAT(A.update_date) as update_date
        ,B.master_id
        ,B.prayers
        ,B.worship_reason
        ,FN_CODE_DESC('WORSHIP_REASON', B.worship_reason) as worship_desc
        ,B.leader_reason
        ,FN_CODE_DESC('LEADER_REASON', B.leader_reason) as leader_desc
        from ch_story_master A
        inner join ch_story_pasture B on A.story_id = B.master_id

        where A.user_id=#{userId}
        <if test="fromDate!=null and fromDate!=''">
            and DATE_FORMAT(A.input_date, '%Y%m%d')<![CDATA[ >= ]]> #{fromDate}
        </if>
        <if test="toDate!=null and toDate!=''">
            and DATE_FORMAT(A.input_date, '%Y%m%d')<![CDATA[ <= ]]>  #{toDate}
        </if>

        order by A.input_date desc

        <if test="page!=null and page!=''">LIMIT #{offset}, #{limit}</if>
    </select>

    <select id="findStoryListCnt" parameterType="net.healingchurch.story.domain.PastureStory" resultType="int">
        /*  PastureStoryMapper.findStoryListCnt  */
        select
        count(A.story_id)  AS cnt
        from ch_story_master A
        inner join ch_story_pasture B on A.story_id = B.master_id

        where A.user_id=#{userId}
        <if test="fromDate!=null and fromDate!=''">
            and DATE_FORMAT(A.input_date, '%Y%m%d')<![CDATA[ >= ]]> #{fromDate}
        </if>
        <if test="toDate!=null and toDate!=''">
            and DATE_FORMAT(A.input_date, '%Y%m%d')<![CDATA[ <= ]]>  #{toDate}
        </if>
    </select>

    <select id="getStory" resultType="net.healingchurch.story.domain.PastureStory" parameterType="int">
        /*  PastureStoryMapper.getStory  */
        select
        A.*,
        B.*
        from ch_story_master A
        inner join ch_story_pasture B
        on A.story_id = B.master_id
        where A.story_id = #{value}
    </select>

    <insert id="createStory" parameterType="net.healingchurch.story.domain.PastureStory"
            useGeneratedKeys="true" keyProperty="storyId">
        /*  PastureStoryMapper.createStory  */
        insert into ch_story_master
        (user_id, group_id, worship_yn, leader_yn, pasture_meet_yn, bible_count,
        qt_count, friday_worship_yn, dawn_pray_count, etc, input_date, create_date)
        VALUES
        (
            #{userId},
            #{groupId},
            #{worshipYn},
            #{leaderYn},
            #{pastureMeetYn},
            #{bibleCount},
            #{qtCount},
            #{fridayWorshipYn},
            #{dawnPrayCount},
            #{etc},
            STR_TO_DATE(#{inputDate}, '%Y%m%d')
            ,now()
        );

        insert into ch_story_pasture
        (master_id, prayers, worship_reason, leader_reason, create_user)
        VALUES
        (
            (select MAX(story_id) from ch_story_master),
            #{prayers},
            #{worshipReason},
            #{leaderReason},
            #{loginUserId}
        );
    </insert>

    <update id="updateStory" parameterType="net.healingchurch.story.domain.PastureStory"
            useGeneratedKeys="true" keyProperty="storyId">
        /*  PastureStoryMapper.updateStory  */
        update ch_story_master
        set
          update_date = now()
        , worship_yn = #{worshipYn}
        ,leader_yn = #{leaderYn}
        , pasture_meet_yn = #{pastureMeetYn}
        , bible_count = #{bibleCount}
        , qt_count = #{qtCount}
        , friday_worship_yn = #{fridayWorshipYn}
        , dawn_pray_count = #{dawnPrayCount}
        , etc = #{etc}


        where story_id = #{storyId};

        update ch_story_pasture
        set
            prayers = #{prayers}
          , worship_reason = #{worshipReason}
          , leader_reason = #{leaderReason}
          , update_user = #{loginUserId}
        where master_id = #{storyId};
    </update>

    <delete id="removeStory" parameterType="int">
        /*  PastureStoryMapper.removeStory  */
        delete from ch_story_master
        where story_id = #{value};

        delete from ch_story_pasture
        where master_id = #{value};
    </delete>

    <select id="findUserStoryList" parameterType="net.healingchurch.story.domain.PastureStory"
            resultType="net.healingchurch.story.domain.PastureStory">
        /*  PastureStoryMapper.findUserStoryList  */
        select
        A.user_seq
        ,A.user_id
        ,A.role_id
        ,A.group_id
        ,A.user_name
        ,A.is_admin
        ,FN_DATE_FORMAT(A.birth_date) as birth_date
        ,A.address
        ,A.mobile
        ,A.email
        ,FN_DATE_FORMAT(A.reg_date) as reg_date
        ,FN_DATE_FORMAT(A.alpha_date) as alpha_date
        ,FN_DATE_FORMAT(A.pasture_join_date) as pasture_join_date
        ,A.status
        ,A.is_permission
        ,FN_GROUP_DESC(A.group_id) as group_desc
        ,C.description as role_desc
        ,C.role_order
        <if test="inputDate!='' and inputDate!=null">
            ,D.story_id
            ,FN_DATE_FORMAT(D.input_date) as input_date
            ,D.worship_yn
            ,D.leader_yn
            ,D.pasture_meet_yn
            ,D.bible_count
            ,D.qt_count
            ,D.friday_worship_yn
            ,D.dawn_pray_count
            ,D.etc
            ,E.master_id
            ,E.prayers
            ,E.worship_reason
            ,E.leader_reason
            ,FN_CODE_DESC('WORSHIP_REASON', E.worship_reason) as worship_desc
            ,FN_CODE_DESC('LEADER_REASON', E.leader_reason) as leader_desc
            ,F.reserve_id
        </if>
        from ch_user A
        inner join (select  	X.group_id,
        X.group_name,
        X.parent_group_id
        from    (select * from ch_user_group
        order by parent_group_id, group_id) X,
        (select @pv := #{groupId}) Y
        where   (find_in_set(X.parent_group_id, @pv) > 0 OR find_in_set(group_id, @pv) > 0)
        and     @pv := concat(@pv, ',', X.group_id)) B on B.group_id = A.group_id
        left join ch_user_role C on C.role_id = A.role_id
        <if test="inputDate!='' and inputDate!=null">
            left join ch_story_master D on D.user_id = A.user_id and DATE_FORMAT(D.input_date, '%Y%m%d')  = #{inputDate}
            left join ch_story_pasture E on E.master_id = D.story_id
            left join ch_user_reserve F on A.user_id = F.user_id
        </if>
        where 1=1
        and C.role_id not in (1, 2) /*   관리자, 목회자 제외  */

        <if test="roleId!='' and roleId!=null">and C.role_id = #{roleId}</if>
        <if test="userId!='' and userId!=null">and A.user_id = #{userId}</if>
        <if test="userName!='' and userName!=null">and A.user_name like concat('%', #{userName}, '%')</if>

        order by A.user_name

        <if test="page!=null and page!=''">LIMIT #{offset}, #{limit}</if>
    </select>

    <select id="findUserStoryListCnt" parameterType="net.healingchurch.story.domain.PastureStory"
            resultType="int">
        /*  PastureStoryMapper.findUserStoryListCnt  */
        select
        count(A.user_id) AS cnt
        from ch_user A
        inner join (select  	X.group_id,
        X.group_name,
        X.parent_group_id
        from    (select * from ch_user_group
        order by parent_group_id, group_id) X,
        (select @pv := #{groupId}) Y
        where   (find_in_set(X.parent_group_id, @pv) > 0 OR find_in_set(group_id, @pv) > 0)
        and     @pv := concat(@pv, ',', X.group_id)) B on B.group_id = A.group_id
        left join ch_user_role C on C.role_id = A.role_id
        <if test="inputDate!='' and inputDate!=null">
            left join ch_story_master D on D.user_id = A.user_id and DATE_FORMAT(D.input_date, '%Y%m%d')  = #{inputDate}
            left join ch_story_pasture E on E.master_id = D.story_id
            left join ch_user_reserve F on A.user_id = F.user_id
        </if>
        where 1=1
        and C.role_id not in (1, 2) /*   관리자, 목회자 제외  */

        <if test="roleId!='' and roleId!=null">and C.role_id = #{roleId}</if>
        <if test="userId!='' and userId!=null">and A.user_id = #{userId}</if>
        <if test="userName!='' and userName!=null">and A.user_name like concat('%', #{userName}, '%')</if>
    </select>
</mapper>