<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.healingchurch.story.services.story.pasture.PastureStoryMapper">
    <select id="findStoryList" parameterType="net.healingchurch.story.domain.PastureStory" resultType="net.healingchurch.story.domain.PastureStory">
        select
        A.*,
        B.*
        from ch_story_master A
        inner join ch_story_pasture B
        on A.story_id = B.master_id
        <where>
            <if test="groupId!=null and groupId!=''">A.group_id=#{groupId}</if>
            <if test="fromDate!=null and fromDate!=''">
                and CAST(A.input_date AS CHARACTER)<![CDATA[ >= ]]> CONCAT( #{fromDate}, ' 00:00:00')
            </if>
            <if test="toDate!=null and toDate!=''">
                and CAST(A.input_date AS CHARACTER)<![CDATA[ <= ]]> CONCAT( #{toDate}, ' 23:59:59')
            </if>
        </where>
        <if test="page!=null and page!=''">LIMIT #{offset}, #{limit}</if>
    </select>

    <select id="getStory" resultType="net.healingchurch.story.domain.PastureStory" parameterType="int">
        select
        A.*,
        B.*
        from ch_story_master A
        inner join ch_story_pasture B
        on A.story_id = B.master_id
        where A.story_id = #{value}
    </select>

    <insert id="createStory" parameterType="net.healingchurch.story.domain.PastureStory"
            useGeneratedKeys="true" keyProperty="storyId">
        insert into ch_story_master
        (user_id, group_id, worship_yn, pasture_meet_yn, bible_count,
        qt_count, friday_worship_yn, dawn_pray_count, etc, input_date)
        VALUES
        (
            #{userId},
            #{groupId},
            #{worshipYn},
            #{pastureMeetYn},
            #{bibleCount},
            #{qtCount},
            #{fridayWorshipYn},
            #{dawnPrayCount},
            #{etc},
            STR_TO_DATE(#{inputDate}, '%Y%m%d')
        );

        insert into ch_story_pasture
        (master_id, leader_yn, prayers, worship_reason, leader_reason)
        VALUES
        (
            (select MAX(story_id) from ch_story_master),
            #{leaderYn},
            #{prayers},
            #{worshipReason},
            #{leaderReason}
        );
    </insert>

    <update id="updateStory" parameterType="net.healingchurch.story.domain.PastureStory"
            useGeneratedKeys="true" keyProperty="storyId">
        update ch_story_master
        set
          update_date = now()
        , worship_yn = #{worshipYn}
        , pasture_meet_yn = #{pastureMeetYn}
        , bible_count = #{bibleCount}
        , qt_count = #{qtCount}
        , friday_worship_yn = #{fridayWorshipYn}
        , dawn_pray_count = #{dawnPrayCount}
        , etc = #{etc}

        where story_id = #{storyId};

        update ch_story_pasture
        set
           leader_yn = #{leaderYn}
          , prayers = #{prayers}
          , worship_reason = #{worshipReason}
          , leader_reason = #{leaderReason}
        where master_id = #{storyId};
    </update>

    <delete id="removeStory" parameterType="int">
        delete from ch_story_master
        where story_id = #{value};

        delete from ch_story_pasture
        where master_id = #{value};
    </delete>

    <select id="findUserStoryList" parameterType="net.healingchurch.story.domain.PastureStory"
            resultType="net.healingchurch.story.domain.PastureStory">
        select
            cu.user_id,
            cu.user_name,
            chg.group_name as group_desc,
            chr.description as role_desc,
            csm.*,
            csp.*
        from ch_user cu
        inner join (select  	A.group_id,
                                A.group_name,
                                A.parent_group_id
                                from    (select * from ch_user_group
                                order by parent_group_id, group_id) A,
                                (select @pv := #{groupId}) B
                                where   (find_in_set(A.parent_group_id, @pv) > 0 OR find_in_set(group_id, @pv) > 0)
                                and     @pv := concat(@pv, ',', A.group_id)) chg on chg.group_id = cu.group_id
        left join ch_user_role chr on chr.role_id = cu.role_id
        left join ch_story_master csm on csm.user_id = cu.user_id <if test="inputDate!='' and inputDate!=null">and DATE_FORMAT(csm.input_date, '%Y%m%d')  = #{inputDate}</if>
        left join ch_story_pasture csp on csp.master_id = csm.story_id
        where 1=1
        and chr.role_id not in (1, 2) /*   관리자, 목회자 제외  */

        <if test="userId!='' and userId!=null">and cu.user_id = #{userId}</if>

        <if test="fromDate!='' and fromDate!=null">and DATE_FORMAT(csm.input_date, '%Y%m%d')  = #{fromDate}</if>
        <if test="toDate!='' and toDate!=null">and DATE_FORMAT(csm.input_date, '%Y%m%d')  = #{toDate}</if>

        <if test="page!=null and page!=''">LIMIT #{offset}, #{limit}</if>
    </select>

    <select id="findUserStoryListCnt" parameterType="net.healingchurch.story.domain.PastureStory"
            resultType="int">
        select
          Count(*) AS cnt

        from ch_user cu
        inner join (select  	A.group_id,
                                A.group_name,
                                A.parent_group_id
                                from    (select * from ch_user_group
                                order by parent_group_id, group_id) A,
                                (select @pv := #{groupId}) B
                                where   (find_in_set(A.parent_group_id, @pv) > 0 OR find_in_set(group_id, @pv) > 0)
                                and     @pv := concat(@pv, ',', A.group_id)) chg on chg.group_id = cu.group_id
        left join ch_user_role chr on chr.role_id = cu.role_id
        left join ch_story_master csm on csm.user_id = cu.user_id <if test="inputDate!='' and inputDate!=null">and DATE_FORMAT(csm.input_date, '%Y%m%d')  = #{inputDate}</if>
        left join ch_story_pasture csp on csp.master_id = csm.story_id

        where 1=1
        and chr.role_id not in (1, 2) /*   관리자, 목회자 제외  */

        <if test="userId!='' and userId!=null">and cu.user_id = #{userId}</if>

        <if test="fromDate!='' and fromDate!=null">and DATE_FORMAT(csm.input_date, '%Y%m%d')  = #{fromDate}</if>
        <if test="toDate!='' and toDate!=null">and DATE_FORMAT(csm.input_date, '%Y%m%d')  = #{toDate}</if>
    </select>
</mapper>
