<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.healingchurch.story.services.user.group.UserGroupMapper">

    <select id="findUserGroupList" parameterType="net.healingchurch.story.domain.UserGroup"
            resultType="net.healingchurch.story.domain.UserGroup">
        /*  UserGroupMapper.findUserGroupList  */
        select * from ch_user_group
        order by parent_group_id, group_name

        <if test="page!=null and page!=''">LIMIT #{offset}, #{limit}</if>
    </select>

    <select id="findUserGroupChildList" parameterType="int"
            resultType="net.healingchurch.story.domain.UserGroup">
        /*  UserGroupMapper.findUserGroupChildList  */
        select * from ch_user_group
        where parent_group_id = #{value}
        order by group_name
    </select>

    <select id="getUserGroup" parameterType="int"
            resultType="net.healingchurch.story.domain.UserGroup">
        /*  UserGroupMapper.getUserGroup  */
        select * from ch_user_group
        where group_id = #{value}
    </select>

    <insert id="createUserGroup" parameterType="net.healingchurch.story.domain.UserGroup"
            useGeneratedKeys="true" keyProperty="userSeq">
        /*  UserGroupMapper.createUserGroup  */
        INSERT INTO ch_user_group(parent_group_id, group_name, group_level, create_date, create_user)
        VALUES (
            #{parentGroupId},
            #{groupName},
            #{groupLevel},
            now(),
            #{loginUserId}
            )
    </insert>

    <update id="updateUserGroup" parameterType="net.healingchurch.story.domain.UserGroup"
            useGeneratedKeys="true" keyProperty="groupId">
        /*  UserGroupMapper.updateUserGroup  */
        update ch_user_group
        set
         update_date = now()
        ,update_user = #{loginUserId}
        <if test="groupName!='' and groupName!=null">, group_name = #{groupName} </if>
        <if test="parentGroupId!='' and parentGroupId!=null">, parent_group_id = #{parentGroupId} </if>
        <if test="groupLevel!='' and groupLevel!=null">, group_level = #{groupLevel} </if>
        where group_id = #{groupId}
    </update>

    <delete id="removeUserGroup" parameterType="int">
        /*  UserGroupMapper.removeUserGroup  */
        delete from ch_user_group
        where group_id = #{value}
    </delete>

</mapper>
