<li class="nav-item" th:each="list, i : ${menuList}"
                     th:with="childFlag=${(list.childData != null && list.childData.size() > 0) ? true : false}, objId=|pagesDropdown${i.index}|"
                     th:classappend="${childFlag} ? 'dropdown' : ''"
                     th:if="${(list.isAdmin ? userInfo.getIsAdmin() : true) && (list.roleOrder >= userInfo.getRoleOrder())}">
    <a class="nav-link" th:if="${!childFlag}" th:attr="target=${list.sortIdx > 900} ? '_blank' : '', menuId=${list.menuId}" th:href="${#strings.isEmpty(list.menuUrl)}? 'javascript:void(0);' : ${list.menuUrl}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span class="txt-ch-size-small" th:text="${list.menuName}">1레벨 메뉴명</span>
    </a>

    <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:id="${objId}" th:if="${childFlag}">
        <i class="fas fa-fw fa-folder"></i>
        <span th:text="${list.menuName}">1레벨 메뉴명</span>
    </a>
    <div class="dropdown-menu" th:if="${childFlag}" th:attr="aria-labelledby=${objId}" >
        <div th:each="list2, j : ${list.childData}" th:with="subChildFlag=${(list2.childData != null && list2.childData.size() > 0) ? true : false}" th:if="${(list2.isAdmin ? userInfo.getIsAdmin() : true) && (list2.roleOrder >= userInfo.getRoleOrder())}">
            <div class="dropdown-divider" th:if="${subChildFlag && j.index > 0}"></div>
            <h6 class="dropdown-header" th:if="${subChildFlag}"><i class="fas fa-fw fa-tachometer-alt"></i><span th:text="${list2.menuName}">2레벨 메뉴명</span></h6>
            <a class="dropdown-item importPage" href="javascript:void(0);" th:attr="importUrl=${list2.menuUrl}, menuId=${list2.menuId}" th:if="!${subChildFlag}"><i class="fas fa-fw fa-table"></i><span th:text="${list2.menuName}">2레벨 메뉴명</span></a>

            <div th:each="list3, k : ${list2.childData}" th:if="${(list3.isAdmin ? userInfo.getIsAdmin() : true) && (list3.roleOrder >= userInfo.getRoleOrder())}">
                <a class="dropdown-item importPage" href="javascript:void(0);" th:attr="importUrl=${list3.menuUrl}, menuId=${list3.menuId}"><i class="fas fa-fw fa-table"></i><span th:text="${list3.menuName}">3레벨 메뉴명</span></a>
            </div>
        </div>
    </div>
</li>
<script src="../../js/menu.js"></script>