<style type="text/css">
    #import-page-area{
        overflow-x: auto;
    }
</style>
<div class="col-md-12" style="min-width: 1280px;">
    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>공통코드 관리
        </div>
        <div class="card-body">
            <form id="StoryForm" th:action="@{/services/user/code/update}" method="POST">
                <input type="hidden" id="codeId" name="codeId" value="-1">
                <input type="hidden" id="codeLevel" name="codeLevel" value="1">
                <input type="hidden" id="parentCodeId" name="parentCodeId">

                <div class="table-responsive ch-txt-align-c" >
                    <div class="div-3" style="width: 440px;">
                        <table id="jqGrid1" class="table table-bordered selectGrid"></table>
                    </div>
                    <div class="div-3" style="width: 440px;">
                        <table id="jqGrid2" class="table table-bordered selectGrid"></table>
                    </div>
                    <div class="div-3">
                        <table class="careTable">
                            <tr class="careTitle">
                                <td colspan="2">코드 수정</td>
                            </tr>
                            <tr>
                                <td class="careTitle">코드 ID</td>
                                <td class="ch-txt-align-l">
                                    <span class="saveObj" id="selCodeId" name="selCodeId"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">상위 코드 ID</td>
                                <td class="ch-txt-align-l">
                                    <span class="saveObj" id="selParentCodeId" name="selParentCodeId"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">코드</td>
                                <td>
                                    <input class="form-control saveObj" id="codeName" name="codeName">
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">코드 설명</td>
                                <td>
                                    <input class="form-control saveObj" id="description" name="description">
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">정렬</td>
                                <td>
                                    <input type="number" class="form-control saveObj" id="sortIdx" name="sortIdx">
                                </td>
                            </tr>
                            <tr class="ch-txt-align-r">
                                <td colspan="2">
                                    <a id="updateBtn" class="btn btn-primary bg-ch-blue txt-ch-white disObj" onclick="commonCode.save();">수정</a>
                                    <a id="deleteBtn" class="btn btn-primary bg-ch-blue txt-ch-white disObj" onclick="commonCode.delete();">삭제</a>
                                </td>
                            </tr>
                            <tr class="careTitle">
                                <td colspan="2">코드 추가</td>
                            </tr>
                            <tr>
                                <td class="careTitle">코드ID</td>
                                <td>
                                    <input class="form-control addObj disObj" id="newCodeId" name="newCodeId">
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">코드</td>
                                <td>
                                    <input class="form-control addObj disObj" id="newCodeName" name="newCodeName">
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">코드 설명</td>
                                <td>
                                    <input class="form-control addObj disObj" id="newDescription" name="newDescription">
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">정렬</td>
                                <td>
                                    <input type="number" class="form-control addObj disObj" id="newSortIdx" name="newSortIdx">
                                </td>
                            </tr>
                            <tr class="ch-txt-align-r">
                                <td colspan="2">
                                    <a id="addBtn" class="btn btn-primary bg-ch-blue txt-ch-white ch-txt-align-l disObj" onclick="commonCode.add(false);">현재 코드에 추가</a>
                                    <a id="addLowBtn" class="btn btn-primary bg-ch-blue txt-ch-white ch-txt-align-l disObj" onclick="commonCode.add(true);">하위 코드으로 추가</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jqGid CSS -->
<link rel="stylesheet" th:href="@{/css/ui.jqgrid-bootstrap.css}" href="../../css/ui.jqgrid-bootstrap.css">

<!-- jqGid Script -->
<script src="../../js/grid.locale-kr.js"></script>
<script src="../../js/jquery.jqGrid.js"></script>

<script src="../../js/common_code.js"></script>
