<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>에러</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS 로드 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.css" />

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/css/thema/all.css}" type="text/css" href="../../css/thema/all.css">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/thema/sb-admin.css}" href="../../css/thema/sb-admin.css">
    <link rel="stylesheet" th:href="@{/css/thema/custom.css}" href="../../css/thema/custom.css">

</head>
<body class="bg-ch">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header"><span th:text="${status}"></span> 에러</div>
        <div class="card-body">
            <div id="created"  style="margin: 10px;text-align: center;font-size: 9pt;padding-top: 30px;" th:text="${#dates.format(timestamp)}"></div>
            <div style="margin: 10px;text-align: center;font-weight: bold;padding-bottom: 30px;">
                <span th:text="${errorMsg}"></span><br>
                관리자에게 문의하거나 다시 시도해주세요.
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-block bg-ch-blue txt-ch-white mt-3" href="/">메인 페이지로</a>
            </div>
        </div>
    </div>
</div>

<!-- 스크립트 로드 -->
<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../../js/jquery.easing.min.js"></script>

</body>
</html>