<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS 로드 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.css" />

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/css/thema/all.css}" type="text/css" href="../../css/thema/all.css">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/thema/sb-admin.css}" href="../../css/thema/sb-admin.css">
    <link rel="stylesheet" th:href="@{/css/thema/custom.css}" href="../../css/thema/custom.css">

</head>
<body class="bg-ch">
<div class="container">
	<div class="card card-login mx-auto mt-5">
		<div class="card-header">로그인</div>
		<div class="card-body">
			<p th:if="${param.logout}" class="alert">로그아웃하셨습니다.</p>
			<p th:if="${param.error}" class="alert alert-error">로그인 실패. 다시 시도해주세요.</p>
			<form id="form" name="form" th:action="@{/login}" action="/login" method="POST">
				<!-- Spring Security에서 받는 변수명은 username, password 이므로 변경하면 안된다. -->
				<div class="form-group">
				  <div class="form-label-group">
					<input type="text" name="username" id="username" class="form-control" placeholder="아이디" required="required" autofocus="autofocus" value="" onkeyup="if(window.event.keyCode == 13){	document.getElementById('form').submit();	}">
					<label for="username">아이디</label>
				  </div>
				</div>
				<div class="form-group">
				  <div class="form-label-group">
					<input type="password" name="password" id="password" class="form-control" placeholder="비밀번호" required="required" value="" onkeyup="if(window.event.keyCode == 13){	document.getElementById('form').submit();	}">
					<label for="password">비밀번호</label>
				  </div>
				</div>
				<a id="login" class="btn btn-primary btn-block bg-ch-blue txt-ch-white" onclick="document.getElementById('form').submit();">로그인</a>
			</form>
			<div class="text-center">
				<a class="d-block small mt-3" href="http://ch-you.com/" target="_blank" >치유하는 교회 청년교구 바로가기</a>
			</div>
		</div>
	</div>
</div>

<!-- 스크립트 로드 -->
<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../../js/jquery.easing.min.js"></script>

</body>
</html>