<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS 로드 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.css" />

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/css/thema/all.css}" type="text/css" href="../../css/thema/all.css">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/thema/sb-admin.css}" href="../../css/thema/sb-admin.css">
    <link rel="stylesheet" th:href="@{/css/thema/custom.css}" href="../../css/thema/custom.css">

</head>
<body class="bg-ch">
<div class="container">
	<div class="card card-login mx-auto mt-5">
		<div class="card-header">비밀번호 변경</div>
		<div class="card-body">
			<div class="text-center">
			<p class="alert">초기 비밀번호입니다. 비밀번호를 변경해주세요.</br>
			(문자, 숫자, 특수문자 포함 8자리이상)</p>
			</div>
			<form id="form" name="form" th:action="@{/services/user/passwordUpdate}" action="/services/user/passwordUpdate" method="POST">
				<input type="hidden" name="userId" id="userId" th:value="${userInfo.getUserId()}"/>
				<div class="form-group">
				  <div class="form-label-group">
					<input type="password" name="password" id="password" class="form-control" placeholder="비밀번호" required="required" value="">
					<label for="password">비밀번호</label>
				  </div>
				</div>
				<div class="form-group">
					<div class="form-label-group">
						<input type="password" name="password2" id="password2" class="form-control" placeholder="비밀번호 확인" required="required" value="">
						<label for="password2">비밀번호 확인</label>
					</div>
				</div>
				<a id="login" class="btn btn-primary btn-block bg-ch-blue txt-ch-white" onclick="passwordForm.save();">비밀번호 변경</a>
			</form>
			<div class="text-center">
				<a class="d-block small mt-3" href="http://ch-you.com/" target="_blank" >치유하는 교회 청년교구 바로가기</a>
			</div>
		</div>
	</div>
</div>

<!-- 스크립트 로드 -->
<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../../js/jquery.easing.min.js"></script>

<script src="../../js/common.js"></script>
<script src="../../js/password.js"></script>

</body>
</html>