<div class="col-md-12" th:with="groupFlag=${(formUserGroup == null || formUserGroup.getGroupId() == '') ? false : true}">
    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>마을 스토리 조회
        </div>
        <div class="card-body" >
            <form id="GridForm">
                <input type="hidden" id="formGroupId" name="groupId" th:value="${groupFlag ? formUserGroup.getGroupId() : ''}"/>
                <input type="hidden" id="formParentGroupId" th:value="${groupFlag ? formUserGroup.getParentGroupId() : ''}"/>
                <input type="hidden" id="formLevel" th:value="${groupFlag ? formUserGroup.getGroupLevel() : ''}"/>
                <input type="hidden" id="formRoleId" th:value="${userInfo.getRoleId()}"/>
                <div class="ch-search-area">
                    <div class="form-group group-selectBox ch-search-obj-l">
                        <p class="my-2">소속 그룹</p>
                        <div class="form-row">
                            <div class="col-md-4 ch-group-pad-btm">
                                <select class="form-control notClear" group-level="1" tabindex="-1"></select>
                            </div>
                            <div class="col-md-4 ch-group-pad-btm">
                                <select class="form-control notClear" group-level="2" tabindex="-1"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ch-search-obj-r ch-group-pad-btm">
                        <div class="form-row">
                            <div class="form-label-group col-md-5">
                                <input type="text" class="form-control" id="userName" name="userName">
                                <label for="userName">이름</label>
                            </div>
                            <div class="form-label-group col-md-5">
                                <input type="text" class="form-control" id="userId" name="userId">
                                <label for="userName">아이디</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ch-search-obj-r ch-group-pad-btm" >
                        <div class="form-row btn-right">
                            <a class="btn btn-primary bg-ch-blue txt-ch-white txt-ch-size-middle ch-mgn-5r" onclick="storyTownList.gridSearch();">조회</a>
                            <a class="btn btn-primary bg-ch-blue txt-ch-white txt-ch-size-middle ch-mgn-10r" onclick="storyTownList.searchClear()">초기화</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" >
                    <table id="jqGrid" class="table table-bordered"></table>
                    <div id="pager"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 사용자 추가/수정 모달 영역 -->
<div class="modal fade" id="detailStoryModal" tabindex="-1" role="dialog" aria-labelledby="saveUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content height100p" style="min-width: 1200px;">
            <!-- 모달 데이터 영역 -->
        </div>
    </div>
</div>

<!-- jqGid CSS -->
<link rel="stylesheet" th:href="@{/css/ui.jqgrid-bootstrap.css}" href="../../css/ui.jqgrid-bootstrap.css">

<!-- bootsrap DatePicker CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.css}" href="../../css/bootstrap-datepicker3.css">

<!-- jqGid Script -->
<script src="../../js/grid.locale-kr.js"></script>
<script src="../../js/jquery.jqGrid.js"></script>

<!-- bootsrap DatePicker Script -->
<script src="../../js/bootstrap-datepicker.js"></script>
<script src="../../js/bootstrap-datepicker.kr.min.js"></script>

<script src="../../js/story_town_list.js"></script>
