<style type="text/css">
    #import-page-area{
        overflow-x: auto;
    }
</style>
<div class="col-md-12" style="min-width: 1280px;">
    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i><span th:text="${menuInfo.getMenuName()}"></span>
        </div>
        <div class="card-body">
            <form id="StoryForm" th:action="@{/services/user/group/update}" method="POST">
                <input type="hidden" id="groupId" name="groupId" value="-1">

                <div class="table-responsive ch-txt-align-c" >
                    <div class="div-3">
                        <table id="jqGrid1" class="table table-bordered selectGrid"></table>
                    </div>
                    <div class="div-3">
                        <table id="jqGrid2" class="table table-bordered selectGrid"></table>
                    </div>
                    <div class="div-3">
                        <table id="jqGrid3" class="table table-bordered selectGrid"></table>
                    </div>
                    <div class="div-3">
                        <table class="careTable">
                            <tr class="careTitle">
                                <td colspan="2">그룹 수정</td>
                            </tr>
                            <tr>
                                <td class="careTitle">그룹 ID</td>
                                <td class="ch-txt-align-l">
                                    <span class="saveObj" id="selGroupId" name="selGroupId"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">그룹 레벨</td>
                                <td class="ch-txt-align-l">
                                    <span class="saveObj" id="groupLevel" name="groupLevel"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">상위 그룹 ID</td>
                                <td>
                                    <input type="number" class="form-control saveObj" id="parentGroupId" name="parentGroupId">
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">임시여부</td>
                                <td>
                                    <label class="mr-4"><input type="radio" id="tempYn_Y" name="tempYn" value="Y">예</label>
                                    <label class="mr-4"><input type="radio" id="tempYn_N" name="tempYn" value="N">아니오</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="careTitle">그룹 이름</td>
                                <td>
                                    <input class="form-control saveObj" id="groupName" name="groupName">
                                </td>
                            </tr>
                            <tr class="ch-txt-align-r">
                                <td colspan="2">
                                    <a id="updateBtn" class="btn btn-primary bg-ch-blue txt-ch-white disObj" onclick="userGroup.save();">수정</a>
                                    <a id="deleteBtn" class="btn btn-primary bg-ch-blue txt-ch-white disObj" onclick="userGroup.delete();">삭제</a>
                                </td>
                            </tr>
                            <tr class="careTitle">
                                <td colspan="2">그룹 추가</td>
                            </tr>
                            <tr>
                                <td class="careTitle">그룹 이름</td>
                                <td>
                                    <input class="form-control addObj disObj" id="newGroupName" name="newGroupName">
                                </td>
                            </tr>
                            <tr class="ch-txt-align-r">
                                <td colspan="2">
                                    <a id="addBtn" class="btn btn-primary bg-ch-blue txt-ch-white ch-txt-align-l disObj" onclick="userGroup.add(false);">현재 그룹에 추가</a>
                                    <a id="addLowBtn" class="btn btn-primary bg-ch-blue txt-ch-white ch-txt-align-l disObj" onclick="userGroup.add(true);">하위 그룹으로 추가</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jqGid CSS -->
<link rel="stylesheet" th:href="@{/css/ui.jqgrid-bootstrap.css}" href="../../css/ui.jqgrid-bootstrap.css">

<!-- jqGid Script -->
<script src="../../js/grid.locale-kr.js"></script>
<script src="../../js/jquery.jqGrid.js"></script>

<script src="../../js/user_group.js"></script>
