<div class="col-md-12">
    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>사용자 관리
            <button type="button" class="btn btn-primary btn-right btn-custom saveUserModalBtn" data-toggle="modal" data-target="#saveUserModal">사용자 등록</button>
        </div>
        <div class="card-body">
            <form id="GridForm">

            </form>
            <div class="table-responsive" >
                <table id="jqGrid" class="table table-bordered"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>

<!-- 사용자 추가/수정 모달 영역 -->
<div class="modal fade" id="saveUserModal" tabindex="-1" role="dialog" aria-labelledby="saveUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- 모달 데이터 영역 -->
        </div>
    </div>
</div>

<!-- jqGid CSS -->
<link rel="stylesheet" th:href="@{/css/ui.jqgrid-bootstrap.css}" href="../../css/ui.jqgrid-bootstrap.css">

<!-- jqGid Script -->
<script src="../../js/grid.locale-kr.js"></script>
<script src="../../js/jquery.jqGrid.js"></script>

<script src="../../js/user.js"></script>
